@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Open+Sans:wght@300;500&family=Raleway:wght@200;300&display=swap');



:root {
  
  /****Colores****/

  --first-color:#d8baf0;
  --second-color: #A4C4BF;
  --second-color:#9CA5A6;
  --third-color:#F85ABB;
  --white-color:#ebe5e9;
  --grey-color:#b4c3ca;

  /***Fuentes**/
  --first-font:'Mukta', sans-serif;
}

/*** Reset ***/
* {box-sizing: border-box;
  padding: 0;
  margin: 0 ;}

/*** Carrito ***/

/* ShoppingCart */


.container-icon {
  position: relative;
  right: 2%;
  margin-top: 1%;
}

.icon-cart {
  width: 48px;
  height: 48px;
  stroke: black;
  float: right;
  
}

.icon-cart:hover {
  cursor: pointer;
  stroke: black;
}

.count-products {
  position: absolute;
  top: 25%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#count-products-reduce {
  font-size: 12px;
}

/* Cart */
.cart-container {
  position: fixed;
  top: 12%;
  right: 0;
  background-color: white;
  width: 45%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-to-pay {
  font-size: 20px;
  font-weight: 900;
}

/* CartProduct */
.container-cart-products {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
}

.cart-product {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 50% 20% 10%;
}

.count-product-cart {
  font-weight: 400;
  font-size: 20px;
}

.title-product-cart {
  font-size: 20px;
}

.price-product-cart {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.icon-close {
  margin: auto;
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}


/*** Sección Clásicos ***/

/*Cards*/
.grid-card {
  display: grid;
  grid-template-areas:
    "titulo titulo titulo titulo"
    "tarjetas tarjetas tarjetas tarjetas";
  grid-template-rows: 42px 382px;
  justify-items: center;
  gap: 10px;
  width: 100%;
  height: 434px;
}

.grid-card  h1 {
  grid-area: titulo;
  font-family: var(--first-font);
  font-size: 40px;
  font-weight: 500;
}
.grid-card products {
  grid-area: tarjetas;
}

/*Per card*/
.card {
  background-color: rgba(217, 217, 217, 0.2);
  width: 250px;
  height: 380px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.img {
  border-radius: 15px;
  width: 130px;
  height: 200px;
}

.card h1 {
  font-size: 20px;
  text-align: center;
}

.card h2 {
  font-size: 22px;
  font-weight: bold;
  color: rgba(247, 142, 195, 1);
}

.card button {
  width: 150px;
  height: 40px;
  background-color: rgba(211, 230, 216, 0.8);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  font-weight: bold;
  background-color: rgba(211, 230, 216, 1);
  width: 210px;
  height: 44px;
  transition: all 0.1s ease-out;
}

/***********************NAVBAR********************/

a {
  color: inherit;
  text-decoration: none;
  
}
 
.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 12%;
  width: 100%;
  background-color: #A4C4BF;
  z-index:99995 ;
  top:0;
}

.logo >img {
  height: 80px;
  padding: 0.5rem;
  
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style:none ;
  gap: 3rem;
  margin-right: 5% ;
}
.nav_item:hover {
  color: gray;
  
}
a {
  font-family: var(--first-font);
  font-size: larger;
}
.nav_item>a {
  font-weight: bold;
  transition: 0.3s;
}
.nav_toggle {
  display: none;
}

/*************NAVBAR MEDIAQUERIES***************/

@media screen and (min-width: 200px) and (max-width:768px) {
  .nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 12%;
    background-color:#A4C4BF;
    z-index:99995 ;
    
  }
  
  .nav_menu {
    position: absolute;
    top:12vh;
    left: 0;
    width: 50%;
    height: 60vh;
    background-color: #A4C4BF;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.3s ease all;
    
  }
.nav_menu.open {
  transform: translateX(0%) !important;
}
  .nav_toggle {
    display: flex !important;
    flex-direction:column;
    margin: 25px;
  }
  .nav_toggle.open >span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open >span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  .nav_toggle span {
    width:30px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

 .logo {
  position: relative;
  right: 5%;
 }
 .logo >img {
  height: 80px;
 }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 12%;
    background-color:#A4C4BF;
    
  }
  
  .nav_menu {
    position: absolute;
    top:12vh;
    
    left: 0;
    gap: 2rem;
    padding: 1%; 
    width: 50%;
    height: 60vh;
    background-color: #A4C4BF;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
.nav_menu.open {
  transform: translateX(0%) !important;
}
  .nav_toggle {
    display: flex !important;
    flex-direction:column;
    margin: 20px;
  }
  .nav_toggle.open >span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open >span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  .nav_toggle span {
    width:30px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }


}

@media (max-width:800px) and (orientation: landscape) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 12vw;
    background-color:#A4C4BF;
    
  }
  
  .nav_menu {
    position: absolute;
    top:12vw;
    width: 50%;
    height: 80vh;
    background-color: #A4C4BF;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
.nav_menu.open {
  transform: translateX(0%) !important;
}
  .nav_toggle {
    display: flex !important;
    flex-direction:column;
    margin: 20px;
  }
  .nav_toggle.open >span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open >span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  .nav_toggle span {
    width:30px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
}


/*******SECCION BENEFICIOS Y LECTURA********/

.section-beneficios-lectura {
  background-color:  rgba(216, 186, 240, 150);
 }

 .h2-beneficios-lectura {
  background-color: #e6d6f3;
  font-size: 0.9rem;
  font-family:var(--first-font);
  font-weight: 300;
  text-align: center;
  padding: 0.5rem;
 }


.divs-beneficios-lectura {
  height: 130vh;
  background-color: #d8baf0;
}

 .estilos-img-beneficios {
  height: 9vh;
  width: 16vw;
  margin-left: 40vw;
  display:flex;
 }

/*******MEDIA QUERY BENEFICIOS Y LECTURA********/


 @media (min-width: 360px) {
   

  .h2-beneficios-lectura {
    margin-bottom: 1vh;
  }
   .estilos-img-beneficios {
    height: 9vh;
    width: 12vw;
    margin-left: 44vw;
    display:flex;
    padding-top: 2vh;
   }

  .estilos-h3-responsive {
    font-size: 0.7rem;
    text-align: center
  }

  .estilos-parrafo-responsive {
    font-size: 0.7rem;
    text-align: center;
    padding: 1rem,
  }

  .div-contenedor-beneficios {
    
    margin-top: 0;
  }
  .divs-beneficios-lectura {
    height: 90vh;
    width: 100%;
  }

 }


 @media (min-width: 768px) {

  .h2-beneficios-lectura {
    margin-bottom: 1vh;
  }
   .estilos-img-beneficios {
    height: 14vh;
    width: 11vw;
    margin-left: 45vw;
    padding-top: 4vh;
   }

  .h2-beneficios-lectura {
    font-size: 1.5rem;
  }

  .estilos-h3-responsive {
    font-size: 1.2rem;
    text-align: center
  } 

  .estilos-parrafo-responsive {
    font-size: 1rem;
    text-align: center
  }
  .divs-beneficios-lectura {
    height: 140vh;
    width: 100%;
    background-color: #d8baf0;
  }

 } 

 @media (min-width: 1024px) {

  .h2-beneficios-lectura {
    font-size: 1.2rem
  }

  .estilos-h3-responsive {
    font-size: 1rem;
    width: 180px;
    text-align: center;
    margin-left: 1.1rem;
    margin-top: 1rem;
  } 

  .estilos-parrafo-responsive {
    font-size: 1rem;
    width: 180px;
    text-align: center;
    margin: 1rem
  }
  
  .divs-beneficios-lectura {
    height: 45vh;
    width: 100%;
    background-color: #d8baf0;
  }

  .section-beneficios-lectura {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    background-color: #d8baf0;
    margin:auto
  }


  .div-contenedor-beneficios {
    height: 200px;
    width: 200px;
    margin: auto;
    
  } 

  .div-grupo-imagenes {
    display:flex;
    flex-direction: row;
  }
  .estilos-img-beneficios {
    height: 13vh;
    width: 6vw;
    margin-left: 32%;
  }
 }


/********** PIE DE PÁGINA ***********/

/**** FORMULARIO PIE DE PÁGINA ****/

/** BOTÓN **/

.boton-pie-pagina{
  background-color: transparent;
  font-weight: semibold ;
  color: black;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 2px solid var(--white-color);
  border-radius: .5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem var(--third-color),
  -.5rem -.5rem 1rem #fff

}

.boton-pie-pagina:hover {
  box-shadow: .5rem .5rem 1rem #fff,
  -.5rem -.5rem 1rem var(--third-color)
}

.boton-pie-pagina:active {
  box-shadow: inset .2rem .2rem 1rem #fff,
  inset -.2rem -.2rem 1rem var(--third-color)
}


/** INPUT **/

.input-pie-pagina {
  position: relative;
  padding: 20px;
  margin-top: 0.2rem;
}

.input-clase {
  background: none;
  border: none;
  font-size: 15px;
  display: block;
  width: 98%;
  border-bottom: 2px solid var(--first-color);
  cursor: pointer;
}

.input-clase:focus{
   outline: none;
   color: var(--grey-color);
}

.label-pie-pagina {
  color: var(--second-color);
  position: absolute;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
  font-size: 15px;
  left: 20px;
  top: 10px;
  font-family:"'Mukta', sans-serif" ;
}

.input-clase:focus~label,
.input-clase:valid~label{
  top: -5px;
  font-size: 13px;
  color: var(--third-color); 
}

.linea {
  position: relative;
  display: block;
  width: 100%;
}

.linea::before{
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
  background: var(--third-color);
  transition: 0.3s ease width;
  left: 0;
}

.input-clase:focus ~.linea::before{
  width: 100%;
}
.pie-filas {
  row-gap: 3px;
}

/**  SUSCRIPCIÓN **/

.caja-usuario {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  background-color: rgba(0, 0, 0, 0.8);
} 


.caja-contenido {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 12rem;
  color: var(--white-color);
}

/******MEDIAQUERY SHOPPING CART *****/
@media screen and (min-width: 200px) and (max-width:768px) {
  .container-icon {
    position: relative;
    right: 3%;
    margin-top: 3.5%;
    
  }


.icon-cart {
  width: 36px;
  height: 36px;
  stroke: black;
  float: right;
  
}


.count-products {
  position: absolute;
  top: 22%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

}



@media screen and (min-width: 768px) and (max-width:1024px) {
  .container-icon {
    position: relative;
    right: 2%;
    margin-top: 1.5%;
    
  }


.icon-cart {
  width: 40px;
  height: 40px;
  stroke: black;
  float: right;
  
}


.count-products {
  position: absolute;
  top: 22%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

}
/*********TARJETAS MEDIAQUERIES*****/
@media screen and (min-width: 200px) and (max-width:768px) {
  .grid-card {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "tarjetas tarjetas" 
      "tarjetas tarjetas";
      grid-template-columns: 20vh 30vh;
      grid-template-rows: 5vh 35vh;
      
    justify-content: center;
    justify-items: center;
    gap: 1%;
    height: 80vh;
    width: 100%;
   
    
  }
  
  .grid-card h1 {
    grid-area: titulo;
    font-size: 20px;
    font-weight: 500;
  }
  .grid-card products {
    grid-area: tarjetas;
  }
  
  /*Per card*/
  .card {
    background-color: rgba(217, 217, 217, 0.2);
    width: 140px;
    height: 215px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    padding: 8px;
    
  }
  
  .img {
    width: 80px;
    height: 140px;
  }
  
  .card h1 {
    font-size: 12px;
    text-align: center;
  }
  
  .card h2 {
    font-size: 13px;
    font-weight: bold;
    color: rgba(247, 142, 195, 1);
  }
  
  .card button {
    width: 80px;
    height: 30px;
    background-color: rgba(211, 230, 216, 0.8);
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card button:hover {
    font-weight: bold;
    background-color: rgba(211, 230, 216, 1);
    width: 80px;
    height: 30px;
    transition: all 0.1s ease-in;
  }
  
  
  
  }
  
  @media screen and (min-width: 768px) and (max-width:1024px) {

    
.grid-card {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "tarjetas tarjetas tarjetas tarjetas";
    grid-template-rows: 10vh 5vh;
    
  justify-items: center;
  gap: 1%;
  width: 100%;
  height:70vh;
}

.grid-card h1 {
  grid-area: titulo;
  font-size: 36px;
  font-weight: 500;
}
.grid-card products {
  grid-area: tarjetas;
}

/*Per card*/
.card {
  background-color: rgba(217, 217, 217, 0.2);
  width: 180px;
  height: 310px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.img {
  border-radius: 15px;
  width: 110px;
  height: 180px;
}

.card h1 {
  font-size: 18px;
  text-align: center;
}

.card h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(247, 142, 195, 1);
}

.card button {
  width: 150px;
  height: 40px;
  background-color: rgba(211, 230, 216, 0.8);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  font-weight: bold;
  background-color: rgba(211, 230, 216, 1);
  width: 160px;
  height: 40px;
  transition: all 0.1s ease-out;
}
  
  }
 
